<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    rel="stylesheet">

</head>

<body class="container mt-5">

    <h2>User Dashboard</h2>

    <form method="POST">

        <input
        type="text"
        name="title"
        placeholder="Enter Task"
        class="form-control mb-3"
        required>

        <button class="btn btn-primary">
            Add Task
        </button>

    </form>

    <hr>

    <h3>Tasks</h3>

    <ul class="list-group">

        {% for task in tasks %}

        <li class="list-group-item">

            {{ task.title }}

            <a
            href="/delete/{{ task.id }}"
            class="btn btn-danger btn-sm float-end">

                Delete

            </a>

        </li>

        {% endfor %}

    </ul>

</body>
</html>